[user]
	email = alchammatg@gmail.com
	name = Ghazi Alchammat
	signingkey = /home/yog404/.ssh/id_ed25519
[gpg]
	format = ssh
[commit]
	gpgsign = True
[core]
	editor = nvim
[init]
	defaultBranch = main
[color]
	ui = auto
[diff]
	colorMoved = zebra
[fetch]
	prune = True
[rerere]
	enabled = True
[pull]
	ff = only
	rebase = True
[rebase]
	autoStash = True
[tag]
	gpgsign = True
[gpg "ssh"]
	allowedSignersFile = /home/yog404/.config/git/allowed_signers
