# Written by `gh auth login`; contains a live OAuth token.
.config/gh/hosts.yml

# Machine-generated git settings written by the ansible git role.
.config/git/config.local
.config/git/allowed_signers

# Written by lazy.nvim; machine-specific.
.config/nvim/lazy-lock.json

# Local python venv used to run molecule.
.venv/
